<!-- Extends to communicate with base.html -->
{% extends 'travel_wishlist/base.html' %}
<!-- Page-specific content from html files -->
{% block content %}

<!-- Header to indicate which page user is on and what the page shows -->
<h2>Places You Have Visited</h2>
<!-- IF statement to check visited or no -->
{% if visited %}
<!-- If yes, create a unordered list and add the place visited as a list item -->
<ul>
    <!-- For loop will run and display once complete -->
    {% for place in visited %}
    <li>{{ place.name }}</li>
    {% endfor %}
</ul>
<!-- If no visited places, display user message -->
{% else %}
<!-- Mesage to user -->
<p>You have not yet visited any places.</p>
<!-- End IF statement -->
{% endif %}
<!-- End of Visited.html block -->
{% endblock %}
